*{
    margin: 0;
    padding: 0;
}

.header{
    position: fixed;
}

.headerFill{
    height: 70px;
}

.category{
    border-radius: 20px;
    border: 2px solid var(--third);
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
}

.category_title{
    padding: 20px 0 20px 40px;
    font-size: 2rem;
    font-weight: bold;
}

.category_list{
    padding: 0 70px;
}